<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} | Django API Base</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type='text/css'>
    {% block css %}{% endblock %}
  </head>
  <body>

  <!-- Application header or nav-bar -->

  {% block content %}
    <h2>PÁGINA API DE PRUEBA</h2>
  <!--<p>Tu nombre es <strong>{{ nombres }}</strong>, tu apellido es <strong>{{ apellidos }}</strong>, tienes la edad de-->
      <!--<strong>{{ edad }}</strong> y estas en el curso <strong>{{ curso }}</strong>.</p>-->

    {% for estudiante in estudiantesData %}
      <h3>Estudiante N° {{ estudiante.id }}</h3>
      <ul>
          {% for key, value in estudiante.items %}
             <li>{{ key }} : {{ value }}</li>
          {% endfor %}
      </ul>
    {% endfor %}

  {% endblock content %}

    <footer>
      <!-- Application footer -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>